// Color Palette
$teal-blue: rgba(67, 124, 144, 1);
$dark-slate-gray: rgba(37, 89, 87, 1);
$beige: rgba(238, 235, 211, 1);
$metallic-sunburst: rgba(169, 135, 67, 1);
$maize-crayola: rgba(247, 197, 72, 1);

$color-primary: $teal-blue;
$color-secondary: $dark-slate-gray;
$color-background: $maize-crayola;
$color-light-background: $beige;
$color-darker-background: $metallic-sunburst;
