@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/mixins";

body {
	font-family: $font-primary, $font-generic;
}

li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.headline {
	@include clearFix();

	background-color: $color-background;
	padding: 3rem 10rem 1rem;
	display: flex;
	justify-content: center;

	p {
		margin: 0;
	}
	.title {
		h1 {
			font-weight: $font-heavy;
			margin-bottom: 0.5rem;
		}
		p {
			// text-align: center;
			font-size: 20px;
		}
	}
	.summary {
		h2 {
			font-size: 20px;
			padding-top: 1rem;
		}
	}
	img {
		float: left;
		width: 200px;
		margin-right: 1rem;
		border-radius: 15px 50px 30px;
	}
}

.experience {
	// @include clearFix();

	background-color: $color-secondary;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	justify-content: space-evenly;

	.container-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.list-entries {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.entry-item {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				flex-wrap: nowrap;
				padding-top: 1.5rem;
				column-gap: 10px;

				.duration {
					width: 300px;
					text-align: left;
				}
			}
		}
	}

	img {
		// float: right;
		// grid-column-start: 1;
		// grid-column-end: 1;
		width: 300px;
		margin-left: 2rem;
		border-radius: 10px;
	}
}

.education {
	// @include clearFix();

	background-color: $color-primary;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;

	.container-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.list-entries {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.entry-item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: nowrap;
				padding-top: 1.5rem;
				column-gap: 10px;

				.duration {
					width: 300px;
					text-align: right;
				}
			}
		}
	}

	img {
		// float: left;
		width: 300px;
		margin-right: 2rem;
		border-radius: 10px;
	}
}

.volunteering {
	// @include clearFix();

	background-color: $color-background;
	color: $color-secondary;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	justify-content: space-evenly;

	.container-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.list-container {
			padding: 0;
		}
	}

	img {
		float: right;
		width: 300px;
		margin-left: 2rem;
		border-radius: 10px;
	}

	ul {
		list-style-type: none;

		li:before {
			content: "💎";
			margin-right: 0.2rem;
		}

		ul {
			list-style: disc;

			li:before {
				content: "";
				margin-right: 0;
			}
		}
	}
}

.section {
	padding: 2rem 10rem;
}

.footer {
	background-color: $color-light-background;
	padding: 1rem 10rem;
	color: $color-secondary;
	text-align: center;
}
